update public.players set games = 48 where nba_id = 77145;
update public.players set games = 449 where nba_id = 287;
update public.players set games = 60 where nba_id = 77465;
update public.players set games = 267 where nba_id = 201953;
update public.players set games = 44 where nba_id = 77567;
update public.players set games = 113 where nba_id = 211;
update public.players set games = 425 where nba_id = 77627;
update public.players set games = 465 where nba_id = 376;
update public.players set games = 83 where nba_id = 203961;
update public.players set games = 508 where nba_id = 785;
update public.players set games = 158 where nba_id = 1629672;
update public.players set games = 789 where nba_id = 15;
update public.players set games = 186 where nba_id = 35;
update public.players set games = 846 where nba_id = 727;
update public.players set games = 104 where nba_id = 1540;
update public.players set games = 55 where nba_id = 78507;
update public.players set games = 658 where nba_id = 677;
update public.players set games = 27 where nba_id = 2057;
update public.players set games = 987 where nba_id = 956;
update public.players set games = 52 where nba_id = 203475;
update public.players set games = 501 where nba_id = 1065;
update public.players set games = 21 where nba_id = 2845;
update public.players set games = 4 where nba_id = 1628571;
update public.players set games = 24 where nba_id = 203513;
update public.players set games = 3 where nba_id = 2081;
update public.players set games = 131 where nba_id = 76114;
update public.players set games = 371 where nba_id = 76136;
update public.players set games = 312 where nba_id = 76568;
update public.players set games = 693 where nba_id = 76899;
update public.players set games = 4 where nba_id = 77257;
update public.players set games = 224 where nba_id = 78405;
update public.players set games = 825 where nba_id = 101141;
update public.players set games = 845 where nba_id = 911;
update public.players set games = 425 where nba_id = 77658;
update public.players set games = 25 where nba_id = 77044;
update public.players set games = 70 where nba_id = 101212;
update public.players set games = 133 where nba_id = 77797;
update public.players set games = 409 where nba_id = 2041;
update public.players set games = 26 where nba_id = 1564;
update public.players set games = 32 where nba_id = 1630679;
update public.players set games = 32 where nba_id = 77243;
update public.players set games = 87 where nba_id = 1630647;
update public.players set games = 153 where nba_id = 1915;
update public.players set games = 704 where nba_id = 203095;
update public.players set games = 334 where nba_id = 1630596;
update public.players set games = 705 where nba_id = 202323;
update public.players set games = 38 where nba_id = 78247;
update public.players set games = 23 where nba_id = 76308;
update public.players set games = 6 where nba_id = 203097;
update public.players set games = 336 where nba_id = 101177;
update public.players set games = 138 where nba_id = 1630267;
update public.players set games = 249 where nba_id = 1732;
update public.players set games = 640 where nba_id = 280;
update public.players set games = 8 where nba_id = 77640;
update public.players set games = 892 where nba_id = 78003;
update public.players set games = 3 where nba_id = 2462;
update public.players set games = 150 where nba_id = 78223;
update public.players set games = 26 where nba_id = 78550;
update public.players set games = 1238 where nba_id = 165;
update public.players set games = 526 where nba_id = 101124;
update public.players set games = 1122 where nba_id = 76882;
update public.players set games = 3 where nba_id = 77352;
update public.players set games = 23 where nba_id = 78393;
update public.players set games = 33 where nba_id = 202380;
update public.players set games = 151 where nba_id = 201632;
update public.players set games = 265 where nba_id = 1628977;
update public.players set games = 5 where nba_id = 76562;
update public.players set games = 551 where nba_id = 76716;
update public.players set games = 206 where nba_id = 77527;
update public.players set games = 155 where nba_id = 2069;
update public.players set games = 776 where nba_id = 76916;
update public.players set games = 145 where nba_id = 1677;
update public.players set games = 10 where nba_id = 76746;
update public.players set games = 37 where nba_id = 1942;
update public.players set games = 20 where nba_id = 77233;
update public.players set games = 200 where nba_id = 114;
update public.players set games = 299 where nba_id = 77881;
update public.players set games = 1070 where nba_id = 203084;
update public.players set games = 12 where nba_id = 1631127;
update public.players set games = 22 where nba_id = 76103;
update public.players set games = 109 where nba_id = 76224;
update public.players set games = 44 where nba_id = 76523;
update public.players set games = 682 where nba_id = 76773;
update public.players set games = 165 where nba_id = 1628385;
update public.players set games = 212 where nba_id = 78596;
update public.players set games = 724 where nba_id = 76365;
update public.players set games = 783 where nba_id = 265;
update public.players set games = 143 where nba_id = 76919;
update public.players set games = 61 where nba_id = 77464;
update public.players set games = 224 where nba_id = 201934;
update public.players set games = 73 where nba_id = 200801;
update public.players set games = 511 where nba_id = 202355;
update public.players set games = 225 where nba_id = 1629312;
update public.players set games = 359 where nba_id = 906;
update public.players set games = 997 where nba_id = 2045;
update public.players set games = 4 where nba_id = 1630929;
update public.players set games = 86 where nba_id = 76018;
update public.players set games = 675 where nba_id = 76162;
update public.players set games = 12 where nba_id = 76506;
update public.players set games = 23 where nba_id = 76563;
update public.players set games = 83 where nba_id = 1627740;
update public.players set games = 212 where nba_id = 1080;
update public.players set games = 135 where nba_id = 203156;
update public.players set games = 66 where nba_id = 78379;
update public.players set games = 181 where nba_id = 201611;
update public.players set games = 27 where nba_id = 78456;
update public.players set games = 32 where nba_id = 78082;
update public.players set games = 38 where nba_id = 78508;
update public.players set games = 1102 where nba_id = 1006;
update public.players set games = 296 where nba_id = 1630529;
update public.players set games = 578 where nba_id = 76815;
update public.players set games = 5 where nba_id = 76986;
update public.players set games = 983 where nba_id = 765;
update public.players set games = 292 where nba_id = 200756;
update public.players set games = 93 where nba_id = 76447;
update public.players set games = 265 where nba_id = 203138;
update public.players set games = 1165 where nba_id = 270;
update public.players set games = 15 where nba_id = 2798;
update public.players set games = 318 where nba_id = 77546;
update public.players set games = 65 where nba_id = 78438;
update public.players set games = 28 where nba_id = 1024;
update public.players set games = 887 where nba_id = 73;
update public.players set games = 66 where nba_id = 76358;
update public.players set games = 786 where nba_id = 458;
update public.players set games = 742 where nba_id = 77297;
update public.players set games = 5 where nba_id = 77690;
update public.players set games = 457 where nba_id = 77875;
update public.players set games = 42 where nba_id = 78609;
update public.players set games = 19 where nba_id = 78621;
update public.players set games = 31 where nba_id = 76340;
update public.players set games = 138 where nba_id = 77172;
update public.players set games = 20 where nba_id = 77630;
update public.players set games = 173 where nba_id = 78091;
update public.players set games = 479 where nba_id = 77927;
update public.players set games = 685 where nba_id = 93;
update public.players set games = 52 where nba_id = 78509;
update public.players set games = 74 where nba_id = 1642864;
update public.players set games = 5 where nba_id = 1630621;
update public.players set games = 7 where nba_id = 1642282;
update public.players set games = 90 where nba_id = 1641816;
update public.players set games = 330 where nba_id = 203546;
update public.players set games = 1 where nba_id = 1100;
update public.players set games = 618 where nba_id = 101133;
update public.players set games = 22 where nba_id = 1630641;
update public.players set games = 64 where nba_id = 1629649;
update public.players set games = 42 where nba_id = 2080;
update public.players set games = 14 where nba_id = 1628387;
update public.players set games = 432 where nba_id = 1134;
update public.players set games = 225 where nba_id = 101113;
update public.players set games = 461 where nba_id = 202697;
update public.players set games = 316 where nba_id = 2137;
update public.players set games = 394 where nba_id = 1630193;
update public.players set games = 17 where nba_id = 1085;
update public.players set games = 380 where nba_id = 1956;
update public.players set games = 127 where nba_id = 78305;
update public.players set games = 131 where nba_id = 76145;
update public.players set games = 26 where nba_id = 77255;
update public.players set games = 26 where nba_id = 78317;
update public.players set games = 143 where nba_id = 1629067;
update public.players set games = 5 where nba_id = 1629353;
update public.players set games = 47 where nba_id = 1642403;
update public.players set games = 397 where nba_id = 1630171;
update public.players set games = 313 where nba_id = 78239;
update public.players set games = 235 where nba_id = 203477;
update public.players set games = 130 where nba_id = 1642268;
update public.players set games = 29 where nba_id = 1642384;
update public.players set games = 426 where nba_id = 1628392;
update public.players set games = 21 where nba_id = 1628439;
update public.players set games = 219 where nba_id = 1630543;
update public.players set games = 392 where nba_id = 1630198;
update public.players set games = 130 where nba_id = 1630587;
update public.players set games = 23 where nba_id = 1630600;
update public.players set games = 25 where nba_id = 77647;
update public.players set games = 563 where nba_id = 375;
update public.players set games = 151 where nba_id = 1629676;
update public.players set games = 6 where nba_id = 1641815;
update public.players set games = 365 where nba_id = 1630191;
update public.players set games = 71 where nba_id = 1627819;
update public.players set games = 556 where nba_id = 202738;
update public.players set games = 18 where nba_id = 1630225;
update public.players set games = 89 where nba_id = 1627785;
update public.players set games = 48 where nba_id = 78580;
update public.players set games = 21 where nba_id = 1631209;
update public.players set games = 805 where nba_id = 202397;
update public.players set games = 116 where nba_id = 1630688;
update public.players set games = 979 where nba_id = 78318;
update public.players set games = 125 where nba_id = 201274;
update public.players set games = 85 where nba_id = 1628397;
update public.players set games = 134 where nba_id = 1096;
update public.players set games = 632 where nba_id = 1627826;
update public.players set games = 831 where nba_id = 200826;
update public.players set games = 3 where nba_id = 1629122;
update public.players set games = 100 where nba_id = 2452;
update public.players set games = 38 where nba_id = 201592;
update public.players set games = 30 where nba_id = 1764;
update public.players set games = 672 where nba_id = 462;
update public.players set games = 327 where nba_id = 1629630;
update public.players set games = 124 where nba_id = 1642266;
update public.players set games = 13 where nba_id = 1628444;
update public.players set games = 19 where nba_id = 203913;
update public.players set games = 310 where nba_id = 203953;
update public.players set games = 108 where nba_id = 2074;
update public.players set games = 289 where nba_id = 1631095;
update public.players set games = 252 where nba_id = 1631133;
update public.players set games = 633 where nba_id = 76414;
update public.players set games = 23 where nba_id = 204022;
update public.players set games = 11 where nba_id = 76729;
update public.players set games = 506 where nba_id = 76800;
update public.players set games = 156 where nba_id = 76819;
update public.players set games = 341 where nba_id = 917;
update public.players set games = 271 where nba_id = 77249;
update public.players set games = 53 where nba_id = 77256;
update public.players set games = 849 where nba_id = 77463;
update public.players set games = 1 where nba_id = 77512;
update public.players set games = 524 where nba_id = 77551;
update public.players set games = 9 where nba_id = 1629098;
update public.players set games = 29 where nba_id = 77624;
update public.players set games = 504 where nba_id = 77713;
update public.players set games = 66 where nba_id = 77802;
update public.players set games = 1107 where nba_id = 78149;
update public.players set games = 72 where nba_id = 78249;
update public.players set games = 65 where nba_id = 78380;
update public.players set games = 823 where nba_id = 78388;
update public.players set games = 21 where nba_id = 1631298;
update public.players set games = 69 where nba_id = 2866;
update public.players set games = 18 where nba_id = 76575;
update public.players set games = 134 where nba_id = 77634;
update public.players set games = 348 where nba_id = 77639;
update public.players set games = 32 where nba_id = 77957;
update public.players set games = 22 where nba_id = 77989;
update public.players set games = 6 where nba_id = 1642050;
update public.players set games = 87 where nba_id = 2761;
update public.players set games = 60 where nba_id = 76587;
update public.players set games = 59 where nba_id = 1628980;
update public.players set games = 42 where nba_id = 1631367;
update public.players set games = 31 where nba_id = 1631210;
update public.players set games = 776 where nba_id = 1521;
update public.players set games = 235 where nba_id = 1630702;
update public.players set games = 218 where nba_id = 1631093;
update public.players set games = 439 where nba_id = 1630183;
update public.players set games = 110 where nba_id = 1630531;
update public.players set games = 812 where nba_id = 203109;
update public.players set games = 342 where nba_id = 1630256;
update public.players set games = 334 where nba_id = 1751;
update public.players set games = 248 where nba_id = 1626143;
update public.players set games = 39 where nba_id = 1630186;
update public.players set games = 20 where nba_id = 1642443;
update public.players set games = 8 where nba_id = 1643141;
update public.players set games = 216 where nba_id = 1631170;
update public.players set games = 36 where nba_id = 202707;
update public.players set games = 236 where nba_id = 203960;
update public.players set games = 103 where nba_id = 76705;
update public.players set games = 31 where nba_id = 76735;
update public.players set games = 17 where nba_id = 77185;
update public.players set games = 243 where nba_id = 1627774;
update public.players set games = 315 where nba_id = 2054;
update public.players set games = 450 where nba_id = 2063;
update public.players set games = 641 where nba_id = 1627751;
update public.players set games = 8 where nba_id = 1641779;
update public.players set games = 561 where nba_id = 1628973;
update public.players set games = 1 where nba_id = 1630622;
update public.players set games = 339 where nba_id = 1630224;
update public.players set games = 36 where nba_id = 1641720;
update public.players set games = 256 where nba_id = 1630552;
update public.players set games = 32 where nba_id = 1627883;
update public.players set games = 9 where nba_id = 1629665;
update public.players set games = 252 where nba_id = 1629667;
update public.players set games = 126 where nba_id = 1629618;
update public.players set games = 923 where nba_id = 147;
update public.players set games = 25 where nba_id = 1641771;
update public.players set games = 324 where nba_id = 1630188;
update public.players set games = 268 where nba_id = 1630591;
update public.players set games = 248 where nba_id = 1631114;
update public.players set games = 176 where nba_id = 1630592;
update public.players set games = 24 where nba_id = 203479;
update public.players set games = 680 where nba_id = 2048;
update public.players set games = 547 where nba_id = 2224;
update public.players set games = 828 where nba_id = 78532;
update public.players set games = 121 where nba_id = 1631288;
update public.players set games = 1327 where nba_id = 2037;
update public.players set games = 611 where nba_id = 469;
update public.players set games = 611 where nba_id = 1627750;
update public.players set games = 72 where nba_id = 2441;
update public.players set games = 157 where nba_id = 1642347;
update public.players set games = 65 where nba_id = 1631123;
update public.players set games = 286 where nba_id = 200081;
update public.players set games = 878 where nba_id = 2749;
update public.players set games = 15 where nba_id = 1628503;
update public.players set games = 12 where nba_id = 1975;
update public.players set games = 247 where nba_id = 202341;
update public.players set games = 27 where nba_id = 200788;
update public.players set games = 595 where nba_id = 76085;
update public.players set games = 13 where nba_id = 1806;
update public.players set games = 79 where nba_id = 1630547;
update public.players set games = 23 where nba_id = 1530;
update public.players set games = 3 where nba_id = 76524;
update public.players set games = 957 where nba_id = 76583;
update public.players set games = 1168 where nba_id = 229;
update public.players set games = 395 where nba_id = 203516;
update public.players set games = 1221 where nba_id = 201935;
update public.players set games = 249 where nba_id = 76948;
update public.players set games = 786 where nba_id = 201949;
update public.players set games = 709 where nba_id = 2592;
update public.players set games = 111 where nba_id = 203949;
update public.players set games = 37 where nba_id = 203263;
update public.players set games = 90 where nba_id = 77783;
update public.players set games = 864 where nba_id = 1899;
update public.players set games = 381 where nba_id = 381;
update public.players set games = 8 where nba_id = 1109;
update public.players set games = 357 where nba_id = 78150;
update public.players set games = 243 where nba_id = 101189;
update public.players set games = 4 where nba_id = 203480;
update public.players set games = 10 where nba_id = 1627821;
update public.players set games = 67 where nba_id = 200778;
update public.players set games = 114 where nba_id = 78533;
update public.players set games = 152 where nba_id = 1630164;
update public.players set games = 926 where nba_id = 1460;
update public.players set games = 95 where nba_id = 203923;
update public.players set games = 103 where nba_id = 77920;
update public.players set games = 1 where nba_id = 201191;
update public.players set games = 201 where nba_id = 994;
update public.players set games = 9 where nba_id = 78445;
update public.players set games = 102 where nba_id = 320;
update public.players set games = 50 where nba_id = 1642364;
update public.players set games = 120 where nba_id = 1642419;
update public.players set games = 54 where nba_id = 2249;
update public.players set games = 13 where nba_id = 1630691;
update public.players set games = 544 where nba_id = 203210;
update public.players set games = 434 where nba_id = 78400;
update public.players set games = 162 where nba_id = 202686;
update public.players set games = 499 where nba_id = 2457;
update public.players set games = 184 where nba_id = 1641716;
update public.players set games = 148 where nba_id = 1630215;
update public.players set games = 84 where nba_id = 203099;
update public.players set games = 904 where nba_id = 201162;
update public.players set games = 16 where nba_id = 1629607;
update public.players set games = 629 where nba_id = 2407;
update public.players set games = 90 where nba_id = 1642272;
update public.players set games = 46 where nba_id = 2876;
update public.players set games = 45 where nba_id = 1631197;
update public.players set games = 269 where nba_id = 203096;
update public.players set games = 14 where nba_id = 1629123;
update public.players set games = 34 where nba_id = 204067;
update public.players set games = 184 where nba_id = 1626185;
update public.players set games = 431 where nba_id = 1114;
update public.players set games = 455 where nba_id = 1628991;
update public.players set games = 28 where nba_id = 203950;
update public.players set games = 27 where nba_id = 1628417;
update public.players set games = 624 where nba_id = 1628386;
update public.players set games = 144 where nba_id = 1629633;
update public.players set games = 867 where nba_id = 101127;
update public.players set games = 16 where nba_id = 1627784;
update public.players set games = 542 where nba_id = 2260;
update public.players set games = 427 where nba_id = 2553;
update public.players set games = 37 where nba_id = 202363;
update public.players set games = 54 where nba_id = 1642859;
update public.players set games = 462 where nba_id = 679;
update public.players set games = 151 where nba_id = 2044;
update public.players set games = 735 where nba_id = 2215;
update public.players set games = 341 where nba_id = 2078;
update public.players set games = 509 where nba_id = 2574;
update public.players set games = 1391 where nba_id = 467;
update public.players set games = 17 where nba_id = 1535;
update public.players set games = 618 where nba_id = 101131;
update public.players set games = 21 where nba_id = 1630554;
update public.players set games = 857 where nba_id = 2202;
update public.players set games = 14 where nba_id = 987;
update public.players set games = 616 where nba_id = 201160;
update public.players set games = 1410 where nba_id = 1891;
update public.players set games = 588 where nba_id = 201574;
update public.players set games = 788 where nba_id = 1715;
update public.players set games = 909 where nba_id = 201580;
update public.players set games = 113 where nba_id = 201159;
update public.players set games = 22 where nba_id = 1631241;
update public.players set games = 41 where nba_id = 1642914;
update public.players set games = 19 where nba_id = 1631451;
update public.players set games = 18 where nba_id = 1630606;
update public.players set games = 90 where nba_id = 101214;
update public.players set games = 329 where nba_id = 77757;
update public.players set games = 56 where nba_id = 1628393;
update public.players set games = 114 where nba_id = 76063;
update public.players set games = 28 where nba_id = 76363;
update public.players set games = 4 where nba_id = 76643;
update public.players set games = 64 where nba_id = 76904;
update public.players set games = 177 where nba_id = 1630643;
update public.players set games = 788 where nba_id = 77081;
update public.players set games = 11 where nba_id = 77601;
update public.players set games = 67 where nba_id = 77670;
update public.players set games = 24 where nba_id = 1630206;
update public.players set games = 17 where nba_id = 78297;
update public.players set games = 576 where nba_id = 78418;
update public.players set games = 75 where nba_id = 2398;
update public.players set games = 41 where nba_id = 1629121;
update public.players set games = 674 where nba_id = 1627759;
update public.players set games = 108 where nba_id = 1641740;
update public.players set games = 39 where nba_id = 1629658;
update public.players set games = 16 where nba_id = 1641798;
update public.players set games = 13 where nba_id = 1628537;
update public.players set games = 205 where nba_id = 1629669;
update public.players set games = 6 where nba_id = 1631301;
update public.players set games = 148 where nba_id = 1642377;
update public.players set games = 230 where nba_id = 1631119;
update public.players set games = 113 where nba_id = 1642281;
update public.players set games = 601 where nba_id = 1628369;
update public.players set games = 475 where nba_id = 420;
update public.players set games = 16 where nba_id = 1641789;
update public.players set games = 64 where nba_id = 1631120;
update public.players set games = 153 where nba_id = 202399;
update public.players set games = 237 where nba_id = 201965;
update public.players set games = 518 where nba_id = 76436;
update public.players set games = 21 where nba_id = 76476;
update public.players set games = 87 where nba_id = 1630288;
update public.players set games = 764 where nba_id = 1902;
update public.players set games = 438 where nba_id = 81;
update public.players set games = 1247 where nba_id = 201145;
update public.players set games = 92 where nba_id = 76923;
update public.players set games = 1077 where nba_id = 204;
update public.players set games = 272 where nba_id = 77215;
update public.players set games = 291 where nba_id = 77332;
update public.players set games = 4 where nba_id = 77354;
update public.players set games = 905 where nba_id = 117;
update public.players set games = 143 where nba_id = 77474;
update public.players set games = 576 where nba_id = 976;
update public.players set games = 802 where nba_id = 77662;
update public.players set games = 332 where nba_id = 78041;
update public.players set games = 55 where nba_id = 1874;
update public.players set games = 3 where nba_id = 78170;
update public.players set games = 56 where nba_id = 78299;
update public.players set games = 826 where nba_id = 201952;
update public.players set games = 31 where nba_id = 2244;
update public.players set games = 612 where nba_id = 78381;
update public.players set games = 75 where nba_id = 78477;
update public.players set games = 11 where nba_id = 1067;
update public.players set games = 454 where nba_id = 78537;
update public.players set games = 207 where nba_id = 203481;
update public.players set games = 132 where nba_id = 203106;
update public.players set games = 82 where nba_id = 76474;
update public.players set games = 260 where nba_id = 1741;
update public.players set games = 8 where nba_id = 1629203;
update public.players set games = 54 where nba_id = 1532;
update public.players set games = 776 where nba_id = 203924;
update public.players set games = 6 where nba_id = 202077;
update public.players set games = 82 where nba_id = 1642847;
update public.players set games = 18 where nba_id = 1629725;
update public.players set games = 219 where nba_id = 1630526;
update public.players set games = 250 where nba_id = 202379;
update public.players set games = 573 where nba_id = 203087;
update public.players set games = 480 where nba_id = 202391;
update public.players set games = 86 where nba_id = 202951;
update public.players set games = 45 where nba_id = 200978;
update public.players set games = 228 where nba_id = 1631110;
update public.players set games = 104 where nba_id = 202719;
update public.players set games = 279 where nba_id = 1626170;
update public.players set games = 258 where nba_id = 1630579;
update public.players set games = 135 where nba_id = 1983;
update public.players set games = 1011 where nba_id = 979;
update public.players set games = 14 where nba_id = 1631257;
update public.players set games = 65 where nba_id = 201966;
update public.players set games = 52 where nba_id = 201176;
update public.players set games = 117 where nba_id = 706;
update public.players set games = 49 where nba_id = 76040;
update public.players set games = 2 where nba_id = 2602;
update public.players set games = 9 where nba_id = 202406;
update public.players set games = 10 where nba_id = 76952;
update public.players set games = 7 where nba_id = 76992;
update public.players set games = 358 where nba_id = 1744;
update public.players set games = 65 where nba_id = 202366;
update public.players set games = 1153 where nba_id = 760;
update public.players set games = 218 where nba_id = 77335;
update public.players set games = 145 where nba_id = 2040;
update public.players set games = 135 where nba_id = 1629010;
update public.players set games = 679 where nba_id = 78516;
update public.players set games = 587 where nba_id = 966;
update public.players set games = 179 where nba_id = 1054;
update public.players set games = 21 where nba_id = 76119;
update public.players set games = 11 where nba_id = 76168;
update public.players set games = 238 where nba_id = 76376;
update public.players set games = 168 where nba_id = 76632;
update public.players set games = 262 where nba_id = 76721;
update public.players set games = 6 where nba_id = 76745;
update public.players set games = 25 where nba_id = 76880;
update public.players set games = 11 where nba_id = 76896;
update public.players set games = 5 where nba_id = 76950;
update public.players set games = 829 where nba_id = 77418;
update public.players set games = 6 where nba_id = 77816;
update public.players set games = 443 where nba_id = 77946;
update public.players set games = 598 where nba_id = 78146;
update public.players set games = 755 where nba_id = 78173;
update public.players set games = 970 where nba_id = 711;
update public.players set games = 932 where nba_id = 78497;
update public.players set games = 586 where nba_id = 201573;
update public.players set games = 82 where nba_id = 2219;
update public.players set games = 31 where nba_id = 76062;
update public.players set games = 5 where nba_id = 76240;
update public.players set games = 47 where nba_id = 76509;
update public.players set games = 2 where nba_id = 1642399;
update public.players set games = 133 where nba_id = 1641724;
update public.players set games = 465 where nba_id = 1628975;
update public.players set games = 218 where nba_id = 76055;
update public.players set games = 321 where nba_id = 76081;
update public.players set games = 454 where nba_id = 76105;
update public.players set games = 732 where nba_id = 76106;
update public.players set games = 4 where nba_id = 76211;
update public.players set games = 30 where nba_id = 76241;
update public.players set games = 703 where nba_id = 76248;
update public.players set games = 121 where nba_id = 76262;
update public.players set games = 3 where nba_id = 76309;
update public.players set games = 2 where nba_id = 76328;
update public.players set games = 623 where nba_id = 76392;
update public.players set games = 652 where nba_id = 76402;
update public.players set games = 32 where nba_id = 76468;
update public.players set games = 597 where nba_id = 76525;
update public.players set games = 115 where nba_id = 76628;
update public.players set games = 136 where nba_id = 76695;
update public.players set games = 743 where nba_id = 76747;
update public.players set games = 84 where nba_id = 76760;
update public.players set games = 6 where nba_id = 76793;
update public.players set games = 26 where nba_id = 76844;
update public.players set games = 225 where nba_id = 77045;
update public.players set games = 885 where nba_id = 754;
update public.players set games = 23 where nba_id = 77171;
update public.players set games = 607 where nba_id = 77270;
update public.players set games = 515 where nba_id = 77311;
update public.players set games = 1 where nba_id = 77333;
update public.players set games = 321 where nba_id = 77372;
update public.players set games = 511 where nba_id = 77409;
update public.players set games = 31 where nba_id = 77422;
update public.players set games = 39 where nba_id = 77466;
update public.players set games = 184 where nba_id = 77523;
update public.players set games = 418 where nba_id = 77528;
update public.players set games = 401 where nba_id = 29;
update public.players set games = 631 where nba_id = 77554;
update public.players set games = 18 where nba_id = 77631;
update public.players set games = 80 where nba_id = 77695;
update public.players set games = 58 where nba_id = 77784;
update public.players set games = 196 where nba_id = 77792;
update public.players set games = 138 where nba_id = 77818;
update public.players set games = 491 where nba_id = 77839;
update public.players set games = 4 where nba_id = 77849;
update public.players set games = 438 where nba_id = 77867;
update public.players set games = 510 where nba_id = 77883;
update public.players set games = 8 where nba_id = 77919;
update public.players set games = 6 where nba_id = 77935;
update public.players set games = 35 where nba_id = 77959;
update public.players set games = 23 where nba_id = 78029;
update public.players set games = 28 where nba_id = 78171;
update public.players set games = 76 where nba_id = 78191;
update public.players set games = 259 where nba_id = 78222;
update public.players set games = 161 where nba_id = 78320;
update public.players set games = 99 where nba_id = 78374;
update public.players set games = 10 where nba_id = 78446;
update public.players set games = 63 where nba_id = 78457;
update public.players set games = 774 where nba_id = 78466;
update public.players set games = 7 where nba_id = 78647;
update public.players set games = 241 where nba_id = 202690;
update public.players set games = 907 where nba_id = 202710;
update public.players set games = 74 where nba_id = 76419;
update public.players set games = 5 where nba_id = 76511;
update public.players set games = 140 where nba_id = 77186;
update public.players set games = 64 where nba_id = 728;
update public.players set games = 78 where nba_id = 1429;
update public.players set games = 698 where nba_id = 78439;
update public.players set games = 247 where nba_id = 2412;
update public.players set games = 534 where nba_id = 201581;
update public.players set games = 940 where nba_id = 200755;
update public.players set games = 672 where nba_id = 201149;
update public.players set games = 40 where nba_id = 1642866;
update public.players set games = 1 where nba_id = 78416;
update public.players set games = 77 where nba_id = 78622;
update public.players set games = 289 where nba_id = 1629111;
update public.players set games = 539 where nba_id = 201975;
update public.players set games = 67 where nba_id = 201570;
update public.players set games = 9 where nba_id = 76057;
update public.players set games = 705 where nba_id = 76353;
update public.players set games = 11 where nba_id = 76167;
update public.players set games = 606 where nba_id = 76290;
update public.players set games = 65 where nba_id = 76293;
update public.players set games = 468 where nba_id = 76329;
update public.players set games = 5 where nba_id = 1629147;
update public.players set games = 73 where nba_id = 76440;
update public.players set games = 24 where nba_id = 76443;
update public.players set games = 96 where nba_id = 1432;
update public.players set games = 2 where nba_id = 201621;
update public.players set games = 21 where nba_id = 2343;
update public.players set games = 77 where nba_id = 76581;
update public.players set games = 1018 where nba_id = 247;
update public.players set games = 524 where nba_id = 76661;
update public.players set games = 489 where nba_id = 76764;
update public.players set games = 845 where nba_id = 76838;
update public.players set games = 504 where nba_id = 203925;
update public.players set games = 186 where nba_id = 77041;
update public.players set games = 192 where nba_id = 77049;
update public.players set games = 120 where nba_id = 77090;
update public.players set games = 750 where nba_id = 204060;
update public.players set games = 1277 where nba_id = 2207;
update public.players set games = 86 where nba_id = 77244;
update public.players set games = 965 where nba_id = 170;
update public.players set games = 118 where nba_id = 77300;
update public.players set games = 118 where nba_id = 77559;
update public.players set games = 669 where nba_id = 77582;
update public.players set games = 79 where nba_id = 77788;
update public.players set games = 7 where nba_id = 77923;
update public.players set games = 181 where nba_id = 77977;
update public.players set games = 114 where nba_id = 78040;
update public.players set games = 1030 where nba_id = 693;
update public.players set games = 40 where nba_id = 78212;
update public.players set games = 231 where nba_id = 78268;
update public.players set games = 39 where nba_id = 78321;
update public.players set games = 38 where nba_id = 1630580;
update public.players set games = 592 where nba_id = 341;
update public.players set games = 127 where nba_id = 1626202;
update public.players set games = 490 where nba_id = 201202;
update public.players set games = 18 where nba_id = 1627762;
update public.players set games = 490 where nba_id = 203954;
update public.players set games = 151 where nba_id = 200777;
update public.players set games = 24 where nba_id = 77095;
update public.players set games = 328 where nba_id = 77308;
update public.players set games = 592 where nba_id = 2038;
update public.players set games = 130 where nba_id = 201595;
update public.players set games = 377 where nba_id = 101121;
update public.players set games = 292 where nba_id = 76966;
update public.players set games = 208 where nba_id = 203530;
update public.players set games = 473 where nba_id = 101130;
update public.players set games = 294 where nba_id = 680;
update public.players set games = 11 where nba_id = 76065;
update public.players set games = 4 where nba_id = 76073;
update public.players set games = 665 where nba_id = 76082;
update public.players set games = 5 where nba_id = 76096;
update public.players set games = 426 where nba_id = 76108;
update public.players set games = 612 where nba_id = 174;
update public.players set games = 597 where nba_id = 76187;
update public.players set games = 126 where nba_id = 76256;
update public.players set games = 486 where nba_id = 76276;
update public.players set games = 19 where nba_id = 1631219;
update public.players set games = 16 where nba_id = 1911;
update public.players set games = 790 where nba_id = 76403;
update public.players set games = 25 where nba_id = 715;
update public.players set games = 541 where nba_id = 1628381;
update public.players set games = 24 where nba_id = 76457;
update public.players set games = 7 where nba_id = 76463;
update public.players set games = 477 where nba_id = 180;
update public.players set games = 67 where nba_id = 76589;
update public.players set games = 739 where nba_id = 76598;
update public.players set games = 201 where nba_id = 76619;
update public.players set games = 65 where nba_id = 2823;
update public.players set games = 30 where nba_id = 76691;
update public.players set games = 33 where nba_id = 76791;
update public.players set games = 541 where nba_id = 76806;
update public.players set games = 9 where nba_id = 76885;
update public.players set games = 74 where nba_id = 76949;
update public.players set games = 1270 where nba_id = 76970;
update public.players set games = 445 where nba_id = 203089;
update public.players set games = 25 where nba_id = 204066;
update public.players set games = 327 where nba_id = 77080;
update public.players set games = 171 where nba_id = 203098;
update public.players set games = 869 where nba_id = 77152;
update public.players set games = 363 where nba_id = 1629723;
update public.players set games = 135 where nba_id = 77320;
update public.players set games = 446 where nba_id = 77331;
update public.players set games = 118 where nba_id = 77341;
update public.players set games = 893 where nba_id = 1381;
update public.players set games = 928 where nba_id = 77419;
update public.players set games = 242 where nba_id = 101249;
update public.players set games = 414 where nba_id = 77443;
update public.players set games = 11 where nba_id = 77513;
update public.players set games = 8 where nba_id = 77520;
update public.players set games = 636 where nba_id = 77580;
update public.players set games = 128 where nba_id = 1972;
update public.players set games = 5 where nba_id = 77742;
update public.players set games = 35 where nba_id = 77760;
update public.players set games = 772 where nba_id = 77820;
update public.players set games = 9 where nba_id = 77859;
update public.players set games = 7 where nba_id = 77861;
update public.players set games = 6 where nba_id = 77941;
update public.players set games = 66 where nba_id = 77954;
update public.players set games = 162 where nba_id = 78000;
update public.players set games = 58 where nba_id = 78036;
update public.players set games = 131 where nba_id = 78037;
update public.players set games = 748 where nba_id = 927;
update public.players set games = 895 where nba_id = 2422;
update public.players set games = 22 where nba_id = 78093;
update public.players set games = 136 where nba_id = 1117;
update public.players set games = 318 where nba_id = 78143;
update public.players set games = 866 where nba_id = 317;
update public.players set games = 1504 where nba_id = 304;
update public.players set games = 46 where nba_id = 78271;
update public.players set games = 9 where nba_id = 78274;
update public.players set games = 208 where nba_id = 1519;
update public.players set games = 74 where nba_id = 78328;
update public.players set games = 6 where nba_id = 1642910;
update public.players set games = 279 where nba_id = 78367;
update public.players set games = 559 where nba_id = 78651;
update public.players set games = 113 where nba_id = 78370;
update public.players set games = 42 where nba_id = 1819;
update public.players set games = 100 where nba_id = 78397;
update public.players set games = 647 where nba_id = 202322;
update public.players set games = 381 where nba_id = 961;
update public.players set games = 357 where nba_id = 78501;
update public.players set games = 435 where nba_id = 78554;
update public.players set games = 288 where nba_id = 78575;
update public.players set games = 11 where nba_id = 78591;
update public.players set games = 46 where nba_id = 1628405;
update public.players set games = 39 where nba_id = 1629140;
update public.players set games = 11 where nba_id = 1641780;
update public.players set games = 65 where nba_id = 76125;
update public.players set games = 73 where nba_id = 76464;
update public.players set games = 750 where nba_id = 76526;
update public.players set games = 541 where nba_id = 1008;
update public.players set games = 712 where nba_id = 76647;
update public.players set games = 85 where nba_id = 1642277;
update public.players set games = 1057 where nba_id = 76867;
update public.players set games = 274 where nba_id = 77022;
update public.players set games = 19 where nba_id = 77055;
update public.players set games = 51 where nba_id = 77187;
update public.players set games = 123 where nba_id = 1630548;
update public.players set games = 905 where nba_id = 77248;
update public.players set games = 257 where nba_id = 77403;
update public.players set games = 117 where nba_id = 77436;
update public.players set games = 316 where nba_id = 77506;
update public.players set games = 520 where nba_id = 77633;
update public.players set games = 83 where nba_id = 77705;
-- Skipped Johnny Newman: Failed to perform, curl: (28) Operation timed out after 15002 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Johnny Norlander: Failed to perform, curl: (28) Operation timed out after 15011 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Johnny O'Bryant III: Failed to perform, curl: (28) Operation timed out after 15002 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Johnny Oldham: Failed to perform, curl: (28) Operation timed out after 15007 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Johnny Payak: Failed to perform, curl: (28) Operation timed out after 15004 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Johnny Rogers: Failed to perform, curl: (28) Operation timed out after 15011 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Johnny Taylor: Failed to perform, curl: (28) Operation timed out after 15009 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Johnny Warren: Failed to perform, curl: (28) Operation timed out after 15009 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jojo English: Failed to perform, curl: (28) Operation timed out after 15002 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jojo White: Failed to perform, curl: (28) Operation timed out after 15005 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jon Barry: Failed to perform, curl: (28) Operation timed out after 15014 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jon Brockman: Failed to perform, curl: (28) Operation timed out after 15002 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jon Koncak: Failed to perform, curl: (28) Operation timed out after 15011 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jon Leuer: Failed to perform, curl: (28) Operation timed out after 15014 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jon McGlocklin: Failed to perform, curl: (28) Operation timed out after 15009 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jon Sundvold: Failed to perform, curl: (28) Operation timed out after 15008 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonah Bolden: Failed to perform, curl: (28) Operation timed out after 15011 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonas Jerebko: Failed to perform, curl: (28) Operation timed out after 15010 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonas Valan─ìi┼½nas: Failed to perform, curl: (28) Operation timed out after 15011 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonathan Bender: Failed to perform, curl: (28) Operation timed out after 15005 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonathan Gibson: Failed to perform, curl: (28) Operation timed out after 15005 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonathan Isaac: Failed to perform, curl: (28) Operation timed out after 15010 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonathan Kerner: Failed to perform, curl: (28) Operation timed out after 15014 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonathan Kuminga: Failed to perform, curl: (28) Operation timed out after 15001 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonathan Mogbo: Failed to perform, curl: (28) Operation timed out after 15004 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
-- Skipped Jonathon Simmons: Failed to perform, curl: (28) Operation timed out after 15011 milliseconds with 0 bytes received. See https://curl.se/libcurl/c/libcurl-errors.html first for more details.
